{{ define "title" }}{{ if not .IsHome }}{{ .Title }} themes and templates - {{ end }}{{ end }}

{{ define "main" }}
<div class="mrow">
  <div class="mcol c8">

    {{ if not .IsHome }}
    <header class="page-title">
      <h1 class="title">Best {{ .Title }} themes and templates {{ now.Format "2006" }}</h1>
      {{ if or (eq .Kind "taxonomy") (eq .Kind "section") }}
      <div class="subtitle">{{ .Content }}</div>
      {{ end }}
    </header>
    {{ end }}

    <div class="articles">
      <div class="mrow">
        {{ range (.Paginate .Data.Pages).Pages }}
          {{ if or (eq .Section "admin-templates") (eq .Section "ecommerce-templates") (eq .Section "website-templates") (eq .Section "wordpress-themes") }}
            <div class="mcol c6">{{ .Render "li" }}</div>
          {{end}}
        {{ end }}
      </div>
    </div>

    {{ partial "pagination.html" . }}
  </div>
  <div class="mcol c4">
    {{ partial "sidebar.html" . }}
  </div>
</div>
{{ end }}
