<aside class="share">
  <a href="http://twitter.com/intent/tweet?url={{ .Permalink }}&text={{ .Title }}&via=webdenim&hashtags=bootstrap,frontend,webdesign,webdev&tw_p=tweetbutton" title="Share on Twitter" class="tw" target="_blank" rel="nofollow"><i class="fa fa-twitter" aria-hidden="true"></i></a>
  <a href="http://www.facebook.com/sharer.php?u={{ .Permalink }}&t={{ .Title }}" title="Share on Facebook" class="fb" target="_blank" rel="nofollow"><i class="fa fa-facebook" aria-hidden="true"></i></a>
  <a href="https://plus.google.com/share?url={{ .Permalink }}" title="Share on Google Plus" class="gp" target="_blank" rel="nofollow"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
  <a href="http://getpocket.com/edit?url={{ .Permalink }}&title={{ .Title }}" title="Add to Pocket" class="pk" target="_blank" rel="nofollow"><i class="fa fa-get-pocket" aria-hidden="true"></i></a>
  <a href="https://vk.com/share.php?url={{ .Permalink }}&title={{ .Title }}" title="Поделитесь с друзьями ВКонтакте" class="pk" target="_blank" rel="nofollow"><i class="fa fa-vk" aria-hidden="true"></i></a>
  <a href="http://line.me/R/msg/text/?{{ .Title }} {{ .Permalink }}" title="LINEでシェア" class="ln" target="_blank" rel="nofollow">LINE</a>
  <a href="http://b.hatena.ne.jp/add?mode=confirm&url={{ .Permalink }}&title={{ .Title }}" title="はてなブックマーク" class="ht" target="_blank" rel="nofollow">B!</a>
</aside>
